* {
  margin: 0;
  padding: 0;
}
.adminLeft_col {
  float: left;
  margin: 0;
  padding: 0;
  background: #5089fd;
  overflow-y: auto;
  height: 100%;
}
.sidemenu_top {
  text-align: center;
  display: flex;
  justify-content: center;
}
.sidemenu_center {
  margin-bottom: 15px;
}
.sidemenu_center_ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidemenu_center_ul li {
  display: flex;
  padding-top: 15px;
  align-items: center;
  padding-left: 15px;
  padding-bottom: 5px;
}
.sidemenu_center_ul li :hover {
  transform: scale(1.15);
}
.sidemenu_center_ul_Link {
  text-decoration: none;
}
.sidemenu_center_ul li i {
  font-size: 17px;
  margin-right: 15px;
}
.sidemenu_center_ul li span {
  font-size: 17px;
  color: #fff;
}
.adminRight_col {
  background: #1b3c80;
}
