.adminHome_col {
  margin-bottom: 20px;
}
.adminHome_Card {
  display: flex;
  background: linear-gradient(90deg, rgba(0, 158, 251, 0.8), #fff);
  border-radius: 5px;
}
.adminHome_Link {
  text-decoration: none;
}
.adminHome_Card i {
  color: rgb(255, 255, 255);
  font-size: 30px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: #009efb;
  border-radius: 45px 5px 5px 45px;
}
.adminHome_Card .adminHome_Card_Body span {
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.adminHome_Appoinment-Table {
  color: rgb(65, 65, 65);
  font-size: 15px;
}
.adminHome_Appoinment-Table tbody tr td i {
  color: rgb(65, 65, 65);
  font-size: 20px;
}
.adminHome_Appoinment-TableHead {
  background: #009efb;
  color: white;
  font-size: 16px;
}
