.bi-hdd-rack {
  color: #5089fd;
}
.ButtonText {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 50px;
  font-weight: bold;
  color: #5089fd;
}
.btn.SearchButton {
  border: 2px solid #5089fd;
  color: #5089fd;
  border-radius: 50px;
}
.form-control.inputSearch {
  width: 450px;
  border-color: #5089fd;
  border-radius: 50px;
}
.form-control.inputSearch::placeholder {
  color: #5089fd;
  opacity: 50%;
  font-size: 15px;
  letter-spacing: 3px;
}

@media screen and (max-width: 576px) {
  .TextSideMenu {
    padding-top: 5px;
    font-size: 15px;
  }
  .btn.BtnSideMenu {
    width: auto;
  }
  .offcanvas .offcanvas-end {
    width: 300px;
  }
  .bi-hdd-rack {
    color: #5089fd;
    font-size: 27px;
  }
  .ButtonText {
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 5px;
    font-size: 15px;
  }
  .form-control.inputSearch {
    max-width: 250px;
  }
}
