.Vbody {
    background:url(https://images.pexels.com/photos/1170979/pexels-photo-1170979.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.Vall {
    margin: 0;
    padding: 0;
}

