.Footer-Head {
  background: #5089fd;
  padding: 20px;
}
.Footer-Head-h1 {
  font-size: 35px;
  color: white;
  font-weight: 700;
  margin-bottom: 0;
}
.footer-body {
  background: rgb(250, 250, 250);
  border-top: 4px solid #5089fd;
}
.footer-col-1 {
  margin-right: 100px;
}
.Footer-Btn {
  background: #ffffff;
  margin-right: 5px;
  padding: 5px;
  width: 80px;
  border-radius: 5px;
}
.footer-col1-p {
  font-size: 13px;
  padding-top: 20px;
}
.footer-col-Heading {
  font-size: 20px;
  font-weight: 700;
}
.footer-contact-li {
  font-size: 14px;
  padding-top: 15px;
  font-weight: 400;
}
.footer-contact-li span {
  font-size: 17px;
  color: #5089fd;
  letter-spacing: 1px;
  font-weight: 600;
}

.footer-Social-icon {
  font-size: 25px;
  color: #0055ff;
  text-align: center;
}
.footer-Social-icon .icon-footer {
  margin-right: 50px;
}
.footer-Social-icon i:hover {
  color: #5089fd;
}
.Footer-Link {
  text-decoration: none;
}
.Footer-Links-ul {
  list-style: none;
  padding: 0;
}
.Footer-Links-ul .Footer-Link li {
  list-style: none;
  color: black;
  font-size: 14px;
  padding-top: 15px;
}
.Footer-Links-ul .Footer-Link li:hover {
  color: #5089fd;
}
.Footer-bottom {
  background: rgb(250, 250, 250);
  border-top: 1px solid #5089fd;
}
.Footer-bottom-p {
  color: #858585;
  font-weight: 600;
}
@media screen and (max-width: 552px) {
  .Footer-Head-h1 {
    font-size: 20px;
  }
  .Footer-Btn {
    width: 60px;
  }
}
