.landingPage-Row {
  display: flex;
}

.LandingPageBody-Row {
  background: #eef3ff;
}
.LandingPage-Col-btn {
  display: flex;
  align-items: center;
  justify-content: end;
}
.LandingPagey_btnLink-1 {
  text-decoration: none;
  color: #0048dd;
}
.LandingPagey_btnLink-2 {
  text-decoration: none;
  color: #ffffff;
}
.LandingPagey_btnLink-2:hover {
  color: #ffffff;
}
.LandingPage-LogingBtnDesign-1 {
  border: 1px solid #0048dd;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
}
.LandingPage-LogingBtnDesign-2 {
  border: 1px solid #0048dd;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
  background-color: #0048dd;
}
.LandingPage_HomebtnLink-2 {
  text-decoration: none;
  color: #0048dd;
}
.LandingPage_HomebtnLink-1 {
  text-decoration: none;

  color: #ffffff;
}
.LandingPage_HomebtnLink-1:hover {
  color: #ffffff;
}
.LandingPage-HomeBtnDesign-2 {
  border: 1px solid #0048dd;
  border-radius: 8px;
  padding: 10px;
  width: 130px;
}
.LandingPage-HomeBtnDesign-1 {
  border: 1px solid #0048dd;
  border-radius: 8px;
  padding: 10px;
  width: 130px;
  background-color: #0048dd;
  margin-right: 30px;
}
.LandingPageBody-heading {
  font-size: 56px;
  font-weight: 400;
  padding-top: 50px;
}
.LandingPageBody-Text {
  font-size: 16px;
  font-weight: 400;
  padding-top: 20px;
}
.LandingPageBody-btn {
  padding-top: 30px;
}
@media screen and (max-width: 992px) {
  .LandingPageBody-heading {
    font-size: 35px;
    padding-top: 10px;
  }
  .LandingPage-HomeBtnDesign-1 {
    width: 120px;
    padding: 7px;
  }
  .LandingPage-HomeBtnDesign-2 {
    width: 120px;
    padding: 7px;
  }
}
