.WhyChoosUsCardIMG {
  width: 70px;
  height: 70px;
  display: inline;
}
.whyChoosUsCard {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 10px 20px 10px 20px;
  transition: transform 300ms;
  border: 1px solid #5089fd;
}
.whyChoosUsCard:hover {
  transform: translateY(-7px);
}
