.DetailCard {
  font-size: 80px;
  color: #5089fd;
  transition: transform 300ms;
}
.DetailCard:hover {
  transform: translateY(-6px);
}
.textCard {
  display: inline-flex;
  margin-top: 30px;
  font-size: 15px;
  color: lightslategrey;
  display: inline;
}
.h5Text {
  color: black;
  font-weight: bold;
  font-size: 18px;
}
.FPSection1 {
  background-color: rgb(244, 244, 244);
  padding-top: 50px;
  padding-bottom: 50px;
}
.content .title {
  margin-bottom: 55px !important;
  font-size: 257.14%;
  font-weight: 500;
  color: #222;
}
.text-theme-color {
  color: #5089fd;
  font-size: 25px;
  margin-bottom: 15px;
}
.content .title:after {
  display: block;
  content: "";
  height: 3px;
  width: 50px;
  background-color: #5089fd;
}
.content ul {
  margin-left: 18px;
  padding: 0;
  list-style-image: url(svg/check.svg);
}
img .mark-lazy {
  vertical-align: middle;
}
.ContentSection {
  background-color: rgb(244, 244, 244);
}

@media only screen and (max-width: 576px) {
  .DetailCard {
    font-size: 40px;
  }
  .textCard {
    margin-top: 15px;
    font-size: 9px;
  }
  .h5Text {
    font-weight: bold;
    font-size: 10px;
  }
  .cardD {
    justify-content: center;
  }
}
